# ── Docker Compose ────────────────────────────────────
POSTGRES_USER=materiaux
POSTGRES_PASSWORD=materiaux_dev_pwd
POSTGRES_DB=materiaux_db
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@materiaux.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

REDIS_PASSWORD=redis_dev_pwd
REDIS_PORT=6379
