# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Tests
coverage
.nyc_output

# Turbo
.turbo

# Prisma
prisma/migrations/dev.db

# Docker
.docker-data/

# TypeScript
*.tsbuildinfo
